# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\新文件夹\algorithm-library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
